<ul data-role="listview">
  <li data-role="divider" role="heading" data-theme="a">Averages</li>
  <li class="ui-li">
	<div class='ui-grid-b'>
	  <div class='ui-block-a' style="text-align:right;">Overall</div>
	  <div class='ui-block-b' style="text-align:center;"><b><%= @overall_average %></b></div>
	  <div class='ui-block-c'><%= @overall_count %> tests</div>
	</div>
  </li>
  <li class="ui-li">
	<div class='ui-grid-b'>
	  <div class='ui-block-a' style="text-align:right;">Breakfast</div>
	  <div class='ui-block-b' style="text-align:center;"><b><%= @breakfast_average %></b></div>
	  <div class='ui-block-c'><%= @breakfast_count %> tests</div>
	</div>
  </li>
  <li class="ui-li">
	<div class='ui-grid-b'>
	  <div class='ui-block-a' style="text-align:right;">Lunch</div>
	  <div class='ui-block-b' style="text-align:center;"><b><%= @lunch_average %></b></div>
	  <div class='ui-block-c'><%= @lunch_count %> tests</div>
	</div>
  </li>
  <li class="ui-li">
	<div class='ui-grid-b'>
	  <div class='ui-block-a' style="text-align:right;">Dinner</div>
	  <div class='ui-block-b' style="text-align:center;"><b><%= @dinner_average %></b></div>
	  <div class='ui-block-c'><%= @dinner_count %> tests</div>
	</div>
  </li>
  <li class="ui-li" style="margin-bottom: 8px;">
	<div class='ui-grid-b'>
	  <div class='ui-block-a' style="text-align:right;">Bedtime</div>
	  <div class='ui-block-b' style="text-align:center;"><b><%= @bedtime_average %></b></div>
	  <div class='ui-block-c'><%= @bedtime_count %> tests</div>
	</div>
  </li>
</ul>
