<%= form_for(@blood_test) do |f| %>
  <% if @blood_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blood_test.errors.count, "error") %> prohibited this blood_test from being saved:</h2>

      <ul>
      <% @blood_test.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :test_date %><br />
    <%= f.date_select :test_date %>
  </div>
  <div class="field">
    <%= f.label :test_type_id %><br />
    <%= f.select :test_type_id, TestType.for_select %>
  </div>
  <div class="field">
    <%= f.label :result %><br />
    <%= f.text_field :result %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
