<div data-role="page">
  <div data-role="header">
	<br style="clear: both;" />	
	<h1>Test Results</h1>
	<%= link_to 'Home', '/', "data-icon" => "home", "class" => "ui-btn-left", "data-direction" => "reverse" %>
	<%= link_to 'Add', new_blood_test_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
  </div>
  
  <div data-role="content" data-theme="d">
	  <%= render :partial => "averages" %>
	  <ul data-role="listview">
		<li data-role="divider" role="heading" data-theme="a">Recent Tests</li>
		<li data-role="divider" role="heading" data-theme="b">
		  <div class="ui-grid-d">
			<div class="ui-block-a" style="text-align: left;">date</div>
			<div class="ui-block-b" style="text-align: center;"><%= image_tag 'meal.png', :height => 32, :alt => 'breakfast', :title => 'breakfast' %></div>
			<div class="ui-block-c" style="text-align: center;"><%= image_tag 'meal.png', :height => 32, :alt => 'lunch', :title => 'lunch' %></div>
			<div class="ui-block-d" style="text-align: center;"><%= image_tag 'meal.png', :height => 32, :alt => 'dinner', :title => 'dinner' %></div>
			<div class="ui-block-e" style="text-align: center;"><%= image_tag 'bedtime.png', :height => 32, :alt => 'bedtime', :title => 'bedtime' %></div>
		  </div>
		</li>

		<% @blood_tests.group_by(&:test_date).sort.reverse.each do |test_date, blood_tests| -%>
		<li data-theme="d">
		  <div class="ui-grid-d">
			<div class="ui-block-a" style="text-align: left;"><%= "#{test_date.month}/#{test_date.day}" %></div>
			<div class="ui-block-b" style="text-align: center;">
			  <% blood_test = blood_tests.select{ |blood_test| blood_test.test_type_id == 1 }.first -%>
			  <% if blood_test.present? -%>
			  <%= link_to "#{blood_test.result}", edit_blood_test_path(blood_test), :class => "ui-link-inherit", "data-rel" => "dialog" %>
			  <% end -%>
            </div>
			<div class="ui-block-c" style="text-align: center;">
			  <% blood_test = blood_tests.select{ |blood_test| blood_test.test_type_id == 2 }.first -%>
			  <% if blood_test.present? -%>
			  <%= link_to "#{blood_test.result}", edit_blood_test_path(blood_test), :class => "ui-link-inherit", "data-rel" => "dialog"  %>
			  <% end -%>
            </div>
			<div class="ui-block-d" style="text-align: center;">
			  <% blood_test = blood_tests.select{ |blood_test| blood_test.test_type_id == 3 }.first -%>
			  <% if blood_test.present? -%>
			  <%= link_to "#{blood_test.result}", edit_blood_test_path(blood_test), :class => "ui-link-inherit", "data-rel" => "dialog"  %>
			  <% end -%>
            </div>
			<div class="ui-block-e" style="text-align: center;">
			  <% blood_test = blood_tests.select{ |blood_test| blood_test.test_type_id == 4 }.first -%>
			  <% if blood_test.present? -%>
			  <%= link_to "#{blood_test.result}", edit_blood_test_path(blood_test), :class => "ui-link-inherit", "data-rel" => "dialog"  %>
			  <% end -%>
            </div>
	      </div>
		</li>
		<% end -%>
	  </ul>
	  <br style="clear: both;" />	
  </div>
</div>
