<!DOCTYPE html>
<html lang="en-US" class="ui-mobile">
<head>
  <meta name="Content-Language" content="en-US">
  <meta name="Content-Type" content="text/html; charset=utf-8">
  <meta name="Content-Script-Type" content="text/javascript">
  <meta name="Subject" content="Blood Sugar">
  <meta name="Language" content="en-US">
  <meta name="Robots" content="All">

  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"> 
  <meta name="apple-mobile-web-app-capable" content="YES">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

  <title>Sugar</title>

  <link rel="apple-touch-icon" href="<%= image_path("apple-touch-icon.png") %>" title="Sugar" />

  <%= stylesheet_link_tag :all %>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.css" />
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>

<body>
  <%= yield %>

  <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.js"></script>
  <%= javascript_include_tag "application", "jquery_ujs", "highcharts" %>
  <!-- Optional Mousewheel support: http://brandonaaron.net/code/mousewheel/docs -->  
  <%= javascript_include_tag "jquery.mousewheel.min" %>
  <!-- DataBox: http://dev.jtsage.com/jQM-DateBox/ -->
  <%= javascript_include_tag "jquery.mobile.datebox.min" %>
  <%= yield :javascript %>
</body>
</html>
